<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no" />
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
	<appSettings>

		<add key="url" value="opc.tcp://127.0.0.1:49320" />

		<add key="newurl" value="opc.tcp://172.18.140.36:4840/" />
		<!--制绒上料-->
		<add key="TEX_reqHandshake" value="ns=2;s=zhirong.zhirongmovein.EH0401reqHandshake" />
		<add key="TEX_binboxId" value="ns=2;s=zhirong.zhirongmovein.EH0401binboxId" />
		<add key="EH02" value="ns=2;s=zhirong.zhirongmovein.EH02" />


		<!--硅片进入花篮-->
		<add key="TEX_EW0201channelNo" value="ns=2;s=zhirong.zhirongmovein.EW0201channelNo" />
		<add key="TEX_EW0201waferId" value="ns=2;s=zhirong.zhirongmovein.EW0201waferId" />
		<add key="TEX_EW0201cassetteId" value="ns=2;s=zhirong.zhirongmovein.EW0201cassetteId" />
		<add key="TEX_EW0201cassetteslotNo" value="ns=2;s=zhirong.zhirongmovein.EW0201cassetteslotNo" />
		<add key="TEX_EW0201actionType" value="ns=2;s=zhirong.zhirongmovein.EW0201actionType" />
		<add key="TEX_EW0201index" value="ns=2;s=zhirong.zhirongmovein.EW0201index" />
		<add key="TEX_EW0201waferCount" value="ns=2;s=zhirong.zhirongmovein.EW0201waferCount" />
		<add key="TEX_EW0201waferId" value="ns=2;s=zhirong.zhirongmovein.EW0201waferId" />

		<!--EW07入站出站-->
		<add key="TEX_EW0701unitId" value="ns=2;s=zhirong.zhirongMain.EW0701unitId" />
		<add key="TEX_EW0701cassetteId" value="ns=2;s=zhirong.zhirongMain.EW0701cassetteId{1}" />
		<add key="TEX_EW0701actionType" value="ns=2;s=zhirong.zhirongMain.EW0701actionType" />
		<add key="TEX_EW0701index" value="ns=2;s=zhirong.zhirongMain.EW0701index" />
		<!--数据库连接字符串-->

		<!--84-->
		<!--<add key="sqlcon" value="User Id=mes_ppt;Password=xdcplus@ppt;Data Source=172.18.55.83/xdcplus"/>
		<add key="mesUrl" value="http://172.18.55.84:9000/bcInterface/test"/>-->



		<!--89-->
		<add key="sqlcon" value="User Id=mes_ppt;Password=xdcplusppt;Data Source=172.18.55.88/XDCMESDB"/>
		<add key="mesUrl" value="http://172.18.55.89:9000/bcInterface/test"/>


		<!--132-->
		<!--<add key="sqlcon" value="User Id=mes_ppt;Password=xdcplus@ppt;Data Source=172.18.55.131/ORCL" />
		<add key="mesUrl" value="http://172.18.55.132:9000/bcInterface/test" />-->






		<!--<add key="mesUrl" value="http://10.20.245.69:8094/bcInterface/test" />-->


		<add key="redisUrl" value="127.0.0.1:6379"/>

		<!-- 扩散入站 -->
		<add key="DIF_EW0301channelNo" value="ns=2;s=kuosan.kuosanMove.EW0301channelNo" />
		<add key="DIF_EW0301boatblockNo" value="ns=2;s=kuosan.kuosanMove.EW0301boatblockNo" />
		<add key="DIF_EW0301actionType" value="ns=2;s=kuosan.kuosanMove.EW0301actionType" />

		<add key="DIF_EW0301waferCount" value="ns=2;s=kuosan.kuosanMove.EW0301waferCount" />
		<add key="DIF_EW0301waferNumber" value="ns=2;s=kuosan.kuosanMove.EW0301waferNumber" />

		<add key="DIF_EW0301cassetteId" value="ns=2;s=kuosan.kuosanMove.EW0301cassetteId" />
		<add key="DIF_EW0301iary" value="ns=2;s=kuosan.kuosanMove.EW0301iary" />
		<add key="DIF_EW0301iary{1}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{1}" />
		<add key="DIF_EW0301iary{2}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{2}" />
		<add key="DIF_EW0301iary{3}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{3}" />
		<add key="DIF_EW0301iary{4}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{4}" />
		<add key="DIF_EW0301iary{5}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{5}" />
		<add key="DIF_EW0301iary{6}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{6}" />
		<add key="DIF_EW0301iary{7}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{7}" />
		<add key="DIF_EW0301iary{8}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{8}" />
		<add key="DIF_EW0301iary{9}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{9}" />
		<add key="DIF_EW0301iary{10}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{10}" />
		<add key="DIF_EW0301iary{11}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{11}" />
		<add key="DIF_EW0301iary{12}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{12}" />
		<add key="DIF_EW0301iary{13}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{13}" />
		<add key="DIF_EW0301iary{14}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{14}" />
		<add key="DIF_EW0301iary{15}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{15}" />
		<add key="DIF_EW0301iary{16}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{16}" />
		<add key="DIF_EW0301iary{17}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{17}" />
		<add key="DIF_EW0301iary{18}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{18}" />
		<add key="DIF_EW0301iary{19}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{19}" />
		<add key="DIF_EW0301iary{20}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{20}" />
		<add key="DIF_EW0301iary{21}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{21}" />
		<add key="DIF_EW0301iary{22}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{22}" />
		<add key="DIF_EW0301iary{23}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{23}" />
		<add key="DIF_EW0301iary{24}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{24}" />
		<add key="DIF_EW0301iary{25}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{25}" />
		<add key="DIF_EW0301iary{26}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{26}" />
		<add key="DIF_EW0301iary{27}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{27}" />
		<add key="DIF_EW0301iary{28}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{28}" />
		<add key="DIF_EW0301iary{29}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{29}" />
		<add key="DIF_EW0301iary{30}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{30}" />
		<add key="DIF_EW0301iary{31}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{31}" />
		<add key="DIF_EW0301iary{32}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{32}" />
		<add key="DIF_EW0301iary{33}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{33}" />
		<add key="DIF_EW0301iary{34}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{34}" />
		<add key="DIF_EW0301iary{35}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{35}" />
		<add key="DIF_EW0301iary{36}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{36}" />
		<add key="DIF_EW0301iary{37}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{37}" />
		<add key="DIF_EW0301iary{38}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{38}" />
		<add key="DIF_EW0301iary{39}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{39}" />
		<add key="DIF_EW0301iary{40}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{40}" />
		<add key="DIF_EW0301iary{41}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{41}" />
		<add key="DIF_EW0301iary{42}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{42}" />
		<add key="DIF_EW0301iary{43}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{43}" />
		<add key="DIF_EW0301iary{44}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{44}" />
		<add key="DIF_EW0301iary{45}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{45}" />
		<add key="DIF_EW0301iary{46}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{46}" />
		<add key="DIF_EW0301iary{47}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{47}" />
		<add key="DIF_EW0301iary{48}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{48}" />
		<add key="DIF_EW0301iary{49}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{49}" />
		<add key="DIF_EW0301iary{50}" value="ns=2;s=kuosan.kuosanMove.EW0301iary{50}" />



		<add key="DIF_arr" value="ns=4;s=|var|Inovance-PLC.Application.GVL_MES.EH0202waferId" />


	</appSettings>
</configuration>